<% layout("/layouts/adminboilerplate") -%>

  <!-- User Management  -->

  <div class="user-details" id="users">
    <div class="user-header">
      <h1> <i class="fa-solid fa-users"></i> User Management</h1>
      <p>Manage all registered users</p>
    </div>
    <div class="user-stats">
      <div class="stat-card">
        <h3>
          <%= users.length %>
        </h3>
        <p>Total Users</p>
      </div>
      <div class="stat-card">
        <h3>
          <%= users.filter(user=> user.role === 'admin').length %>
        </h3>
        <p>Admin Users</p>
      </div>
      <div class="stat-card">
        <h3>
          <%= users.filter(user=> user.role === 'user').length %>
        </h3>
        <p>Regular Users</p>
      </div>
    </div>

    <!-- User List -->
    <div class="user-container">
      <div class="user-list-title">
        <h3>All Users</h3>
      </div>
      <br>
      <div class="user-controls">
        <input type="text" id="searchInput" placeholder="Search...." oninput="resetPaginationAndRender()" />

        <select id="roleFilter" onchange="resetPaginationAndRender()">
          <option value="">All Roles</option>
          <option value="admin">Admin</option>
          <option value="user">User</option>
        </select>

        <select id="limitSelect" onchange="resetPaginationAndRender()">
          <option value="10" selected>10</option>
          <option value="20">20</option>
          <option value="30">30</option>
        </select>

      </div>

      <table class="user-table">
        <thead class="user-table-header">
          <tr>
            <th>Sr. No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
            <th>Joined</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <% users.forEach(user=> { %>
            <tr>
              <td></td>
              <td>
                <%= user.name %>
              </td>
              <td>
                <%= user.email %>
              </td>
              <td>
                <%= user.phone %>
              </td>
              <td class="<%= user.role === 'admin' ? 'admin-role' : 'user-role' %>">
                <%= user.role.toUpperCase() %>
              </td>
              <td>
                <%= user.createdAt.toLocaleDateString() %>
              </td>
              <td class="user-actions">
                <a href="/admin/users/<%= user._id %>/edit" class="user-edit-btn">
                  <i class="fa-solid fa-pen-to-square"></i> Edit
                </a>

                <a href="/admin/users-info/<%= user._id %>" class="user-view-btn">
                  <i class="fa-solid fa-eye"></i> View
                </a>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
      <br>
      <div class="pagination">
        <button>Prev</button>
        <span>Page</span>
        <button>Next</button>
      </div>
    </div>
  </div>
  <script>
    const rows = document.querySelectorAll(".user-table tbody tr");
    rows.forEach((row, index) => {
      row.cells[0].textContent = index + 1;
    });
  </script>