<% layout("/layouts/boilerplate") -%>
    <div class="cart-container">
        <div class="cart-items">
            <div class="cart-title">
                <h4>Your Cart</h4>
            </div>
            <br>
            <div class="delivery-details">
                <p>Delivery to: <strong>
                        <%=user.name.toUpperCase()%>, <%= address.address.pincode %>
                    </strong></p>
                <p>
                    <%=address.address.street %>,
                        <%=address.address.landmark || 'Not provided' %>,
                            <%=address.address.city %>,
                                <%=address.address.state %>,
                                    <%= address.address.country || 'India' %>
                </p>
            </div>
            <br>
            <div class="cart-listing-container">
                <img src="https://images.unsplash.com/photo-1576045057995-568f588f82fb?ixlib=rb-4.0.3&auto=format&fit=crop&w=800&q=60"
                    class="listing-image" alt="Product Image" />
                <div class="cart-info">
                    <p><strong>Product Name</strong></p>
                    <p> description</p>
                    <p> Vegetables</p>
                    <p> ₹<span class="product-price">100</span> 1kg</p>
                </div>
                <div class="remove-action">
                    <form action="/cart/remove" method="POST">
                        <button type="submit" class="remove-button">Remove</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="checkout-action">
                <form action="/checkout" method="POST">
                    <button type="submit" class="checkout-button">Checkout</button>
                </form>
            </div>

        </div>

        <div class="cart-price">
            <div class="cart-price-title">
                <h4>PRICE DETAILS</h4>
            </div>
            <br>
            <div class="price-details">
                <p>Price (1 item)<span>₹<span class="total-price">100</span></span></p>
                <p>Delivery Charges: ₹<span class="delivery-charges">50</span></p>
                <p>Product Discount : <span class="product-discount">10</span></p>
                <p>Coupon Discount: <span class="coupon-discount">₹<span class="coupon-amount">0</span></span></p>
                <p>Platform Fee: <span class="platform-fee">₹<span class="platform-amount">0</span></span></p>
                <hr>
                <h3>Total Amount: <span class="total-amount">₹<span class="total-amount-value">140</span></span></h3>
                <hr>
            </div>
            
        </div>

    </div>