<% layout("/layouts/boilerplate") -%>
    <div class="form-container">
        <h2>Address Details</h2>
        <div class="address-info">
            <% if (address && address.address) { %>
                <div class="details">
                    <p><strong>Street:</strong> <%= address.address.street %></p>
                    <p><strong>Landmark:</strong> <%= address.address.landmark || 'Not provided' %></p>
                    <p><strong>City:</strong> <%= address.address.city %></p>
                    <p><strong>State:</strong> <%= address.address.state %></p>
                    <p><strong>Country:</strong> <%= address.address.country || 'India' %></p>
                    <p><strong>PIN Code:</strong> <%= address.address.pincode %></p>
                </div>
            <% } else { %>
                <p class="no-address">No address found. Please add your address.</p>
            <% } %>
        </div>
        <div class="profile-links">
            <a href="/user-address/edit" class="btn"> <i class="fa-solid fa-pen-to-square"></i> Update Address</a>
        </div>
    </div>
